.details {
  display: block;
  width: 100%;
  img {
    width: 100%;
  }
  .marca-details {
    font-size: 18px;
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
  }
  .name-details {
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
  }
  .price-details{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
  }
  h5{
    font-size: 13px;
    font-family: "Montserrat";
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
  }
  .text-details{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
}


@media (min-width: 1367px) {
    .details{
        display: flex;
        gap: 2rem;
        img{
            width: 500px;
        }
        div{

        }
    }
}