.details {
  display: block;
  width: 100%;
  .mini{
    display: none;
  }
  img {
    width: 100%;
  }
  .marca-details {
    font-size: 18px;
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
  }
  .name-details {
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
  }
  .price-details{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
  }
  h5{
    font-size: 13px;
    font-family: "Montserrat";
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
  }
  .text-details{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .swiper-pagination-bullet {
    background-color: #000;
    opacity: 0.7;
  }
  
  .swiper-pagination-bullet-active {
    background-color: green;
  }
}


@media (min-width: 1200px) {
    .details{
        display: flex;
        justify-content: center;
        gap: 2rem;
        .mini{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 629px;
          img{
            height: 150px;
          }
        }
        .swiper {
          width: 500px;
          margin: 0;
        }
        .swiper-button-next,
        .swiper-button-prev {
          display: block;
          color: green;
        }
        img{
            width: 100%;
        }
    }
}