.details {
  display: block;
  width: 100%;

  .mini {
    display: none;
  }

  img {
    width: 100%;
  }

  .marca-details {
    font-size: 1.125rem;
    font-family: "Crimson Text", serif;
    font-weight: 500;
    text-transform: capitalize;
  }

  .name-details {
    font-size: 1.25rem;
    font-family: "Montserrat";
    font-weight: 300;
  }

  .price-details {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }

  h5 {
    font-size: 0.8125rem;
    font-family: "Montserrat";
    font-weight: bold;
    text-decoration: underline;
  }

  .text-details {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper-pagination-bullet {
    background-color: #000;
    opacity: 0.7;
  }

  .swiper-pagination-bullet-active {
    background-color: green;
  }
}

@media (min-width: 1200px) {
  .details {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .mini {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 629px;

      img {
        height: 150px;
      }
    }

    .swiper {
      width: 500px;
      margin: 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: block;
      color: green;
    }
  }
}
