main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;

  article {
    width: 150px;
    margin-top: 1rem;
    font-size: 14px;

    a {
      color: black;
      text-decoration: none;

      img {
        width: 100%;
      }

      h3, h4 {
        margin: 0.5rem 0;
        font-family: "Lexend", sans-serif;
        font-weight: 300;
        font-style: normal;
      }

      .marca {
        font-family: "Crimson Text", serif;
        font-weight: 700;
        text-transform: capitalize;
      }
    }
  }

  .botonWhatsapp {
    position: fixed;
    bottom: 5%;
    right: 8%;

    i {
      font-size: 2rem;
      color: white;
      padding: 0.6rem;
      background-color: #25d366;
      border: 0.1rem solid #25d366;
      border-radius: 50%;
    }
  }
}

@media (min-width: 1200px) {
  main {
    padding: 0 5rem;

    article {
      width: 300px;
    }

    .botonWhatsapp {
      bottom: 6%;
      right: 3%;

      i {
        font-size: 2.5rem;
      }
    }
  }
}
