@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

nav {
  a {
    padding-right: 5rem;
    padding-left: 5rem;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    color: black;
    text-decoration: none;
    img {
      width: 60px;
      height: 60px;
    }
    h2 {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
    }
  }
  ul {
    display: none;
  }
}

@media (min-width: 1367px) {
  nav {
    a {
      padding-right: 5rem;
      padding-left: 5rem;
      margin: 1rem;
      display: flex;
      gap: 1rem;
      color: black;
      text-decoration: none;
      img {
        width: 60px;
        height: 60px;
      }
    }
    ul {
      display: flex;
      gap: 1rem;
      padding: 0;
      font-size: 1.5rem;
      list-style: none;
      border-top: 0.1rem solid rgb(0, 0, 0, 10%);
      border-bottom: 0.1rem solid rgb(0, 0, 0, 10%);
      font-family: "Montserrat";
      font-weight: 300;
      div {
        display: flex;
        padding-right: 5rem;
        padding-left: 5rem;
        li {
          a {
            color: black;
            text-decoration: none;
            padding: 10px;
            display: inline-block;
            position: relative;
          }
          a::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: green;
            transition: width 0.4s ease-in-out;
          }
          a:hover {
            color: green;
          }
          a:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}
