footer {
  padding: 3rem;
  margin-top: 2rem;
  background-color: #e8e9eb;
  border-top: solid 0.1rem green;
  
  article {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    
    h4 {
      font-size: 2rem;
      margin-right: 2rem;
      
      a {
        color: black;
        
        .bi-instagram {
          width: 32px;
          height: 39px;
          display: inline-block;
          background: linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%
          );
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
        }
        
        .bi-whatsapp {
          color: #25d366;
        }
        
        .bi-facebook {
          color: #3b5998;
        }
        
        p {
          display: none;
        }
      }
    }
    
    div {
      p {
        font-weight: 500;
      }
    }
  }
  
  .contacto {
    display: flex;
    flex-direction: column-reverse;
    
    .redes {
      display: flex;
    }
  }
  
  .info {
    display: flex;
    flex-direction: column;
  }
  
  .logotipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
    }
    
    img {
      width: 300px;
    }
  }
}

@media (min-width: 1200px) {
  footer {
    display: flex;
    justify-content: space-evenly;
    padding-left: 6rem;
    padding-right: 6rem;
    
    article {
      width: 30%;
    }
    
    .contacto {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      
      .redes {
        flex-direction: column;
        gap: 1rem;
      }
      
      h4 {
        margin: 0;
        font-size: 1.5rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 1rem;
          
          p {
            display: block;
            margin: 0;
          }
        }
      }
    }
    
    .logotipo {
      justify-content: center;
      
      img {
        width: 200px;
      }
    }
  }
}
