footer {
  padding: 3rem;
  background-color: #e8e9eb;
  article {
    display: flex;
    h4 {
      font-size: 2rem;
      margin-right: 2rem;
      a {
        color: black;
          p {
            display: none;
          }
      }
    }
  }
  .info {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
  }
  .logotipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    img {
      width: 300px;
    }
  }
}

@media (min-width: 1367px) {
  footer {
    display: flex;
    justify-content: space-evenly;
    padding-left: 6rem;
    padding-right: 6rem;
    article{
      width: 30%;
    }
    .contacto {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      h4 {
        margin: 0;
        font-size: 1.5rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 1rem;
            p {
              display: block;
              margin: 0;
            }
        }
      }
    }
    .logotipo {
      justify-content: center;
      img {
        width: 200px;
      }
    }
  }
}
