@import "../src/components/navbar/_navbar.scss";
@import "../src/components/products/_products.scss";
@import "../src/components/footer/_footer.scss";

body{
    margin: 0;
    padding: 0;
    border-top: 0.2rem solid green;
}