@import "../src/components/navbar/_navbar.scss";
@import "../src/components/products/_products.scss";
@import "../src/components/footer/_footer.scss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lexend:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    border-top: 0.2rem solid green;
}